/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Container */
  .modal-container {
    background: white;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    max-width: 500px;
    border-radius: 10px;
    padding: 1vw 4vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  /* Modal Header */
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .modal-header h3 {
    margin: 0;
  }
  
  /* Close Button */
  .close-modal-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Modal Body */
  .modal-body label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .modal-body input,
  .modal-body textarea,
  .modal-body select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Open Modal Button */
  /* .modal-header > button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-header > button:hover {
    background-color: #0056b3;
  }
   */

  .modal-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 3vw;
    line-height: 2vw;
  }